## اضافه‌کردن کتابخانه‌های مورد نیاز

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import joblib
import numpy as np

## داده
در فایل `magazine.csv` در کنار همین نوت‌بوک قرار دارد و اندیس آن ستون `id` است. و خروجی مدل ستون `Buy` است.
-`stratify = y , random_state=45, test_size= 0.2` قرار دهید. هنگام تقسیم کردن داده به دو قسمت آموزش و آزمون

In [4]:
df = pd.read_csv('magazine.csv', index_col='id')

In [5]:
y = df['Buy']
X = df.drop(columns = ['Buy'])

In [6]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42,stratify =y)
x_train

     Income  Residence Length  Is Married  Is Female  Has College
id
399   75000                29           1          1            0
344    6000                15           0          0            0
213   31000                16           1          1            1
613   30000                19           1          1            0
130    6000                 2           0          1            0
..      ...               ...         ...        ...          ...
672   11000                11           1          0            0
600   37000                15           1          1            0
56     7000                13           0          1            0
642   75000                25           1          0            1
31    46000                17           0          0            0

[538 rows x 5 columns]

## مدل
- هنگام ساختن مدل رگرسیون لجستیکی `random_state` را برابر 45 قرار دهید.
- مدل را با استفاده از کتابخانه‌ی `joblib` در فایل `model.pkl` ذخیره کنید.
- می‌توانید ماژول `joblib` را از `sklearn.externals` بخوانید یا (در روش جدیدتر) آنرا به عنوان یک کتابخانه جدا با `pip` نصب و استفاده کنید.

In [7]:
logistic_model = LogisticRegression(random_state=45)

In [9]:
clf = logistic_model.fit(x_train[['Income','Is Married']],y_train)
logistic_model.coef_

c:\users\mahta\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

array([[4.65788475e-05, 7.18475032e-02]])

In [10]:
joblib.dump(logistic_model,'model.pkl')

['model.pkl']

In [12]:
y_pre=logistic_model.predict(x_test[['Income','Is Married']])
acc=accuracy_score(y_test,y_pre)
acc

0.9037037037037037

## ارسال پاسخ
ابتدا نوت‌بوک را ذخیره و سپس گزینه‌ی ارسال پاسخ را انتخاب کنید تا مدل به همراه این نوت‌بوک ارسال شود.