### اضافه کردن کتاب‌خانه‌های مورد نیاز

In [1]:
import pandas as pd

ابتدا فایل
`dates.csv`
که همراه با این نوت‌بوک دانلود کرده‌اید را به وسیله‌ی کتابخانه
`pandas`
می‌خوانیم

In [2]:
df = pd.read_csv("dates.csv")

می‌توانید با استفاده از متد
`describe`
خلاصه‌ای از اطلاعات هر ستون را ببینید.

In [3]:
df.describe()

          Unnamed: 0         year
count    5000.000000  5000.000000
mean   222892.446400  1985.259200
std    126952.536025    27.788351
min       108.000000  1911.000000
25%    113078.500000  1966.000000
50%    222977.500000  1996.000000
75%    332407.000000  2008.000000
max    441544.000000  2020.000000

می‌توانیم به وسیله‌ی متد 
`head`
چند ردیف اول از داده را بخوانیم

In [5]:
first=df.head(10)
print(first)

   Unnamed: 0                               title  year  country        date
0      324126                Synecdoche, New York  2008      USA  2008-11-21
1       66463  Close Encounters of the Third Kind  1977   Greece  1978-03-10
2       51496                      Brotherly Love  1928  Finland  1929-11-18
3      236362                     My Son, My Son!  1940   Mexico  1940-05-23
4      374347         The North Avenue Irregulars  1979      USA  1979-02-09
5      377373                           The Phynx  1970      USA  1970-05-06
6      280556                         Richard III  1912      USA  1912-10-15
7      402546             To Live and Die in L.A.  1985    Spain  1986-05-14
8      350837                             The Fog  2005      USA  2005-10-14
9      145812                           Home (II)  2015   Latvia  2015-03-20

می‌بینیم که یک ستون اضافه در داده وجود دارد
می‌توانیم با استفاده از متد
`drop`
این ستون را حذف کنیم

In [26]:
new = df.drop(columns=['Unnamed: 0'])

KeyError: "['Unnamed: 0'] not found in axis"

In [19]:
print(new)

                                  title  year      country
0                  Synecdoche, New York  2008          USA
1    Close Encounters of the Third Kind  1977       Greece
2                        Brotherly Love  1928      Finland
3                       My Son, My Son!  1940       Mexico
4           The North Avenue Irregulars  1979          USA
..                                  ...   ...          ...
495           Mil gritos tiene la noche  1982        Italy
496              Tumaku Paruni Ta Bhuli  2007        India
497     Will Success Spoil Rock Hunter?  1957      Finland
498                       The Third Man  1949     Portugal
499                      28 Hotel Rooms  2012  Netherlands

[500 rows x 3 columns]

با متد
`head`
۵۰۰ ردیف اول داده را گرفته و در مجموعه داده دیگری می‌ریزیم

In [13]:
df = new.head(500)

مجموعه داده جدید را به وسیله متد 
`to_csv`
در فایل
`sample.csv`
ذخیره می‌کنیم

In [20]:
df.to_csv("sample.csv")

In [ ]:
pd

ارسال پاسخ را انتخاب کنید.